<a href="https://colab.research.google.com/github/allaalmouiz/loan_acceptance_prediction/blob/main/Loan_Acceptance_Prediction_Challange_AlaaAlmouiz(S2026_176).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loan Acceptance Prediction Challange - Module 1
Submitted by: **`Alaa Almouiz F. Moh.`**

ID Number: **`S2026_176`**

Track: **Machine Learning**

For: **ZAKA ©**

## **Problem Statement (Objective)**
In a bank, if someone applies for a loan! How likely he/she is getting the loan based on their profile (features).

In this colab, I will take you through the Data Science Lifecycle, till I build a simple machine learning model that predicts whether a person’s loan will be accepted or rejected based on his/her feature.

## **Dataset**
Loan Dataset (Download here: [Training Data](https://drive.google.com/file/d/1kOZgprQhpJ0EQkCU-WBhE5Y8toW8bHnk/view), [Testing Data](https://drive.google.com/file/d/1r4AyrYG2D-0DFt0fpOW-QCK6K9YrL6EP/view)).
The dataset variables include:

* `Loan_ID` data set unique ID
* `Gender` individual gender
* `Married` individual marital status
* `Dependents` number of dependents
* `Education` individual education status
* `Self_Employed` individual employment status
* `ApplicantIncome` individual income
* `CoapplicantIncome` individual Co Applicant income
* `LoanAmount` Loan amount in thousands
* `Loan_Amount_Term` term of loan in months
* `Credit_History` credit history meets guidelines
* `Property_Area` Urban/ Semi Urban/ Rural
* `Loan_Status` loan approved (Y/N) - TARGET

## **Assumptions and Hypothesis**
1. First
2. Second

## **Datasets Loading**

In [79]:
# Cloning the datasets from the github
!git clone https://github.com/allaalmouiz/loan_acceptance_prediction.git

%cd loan_acceptance_prediction

Cloning into 'loan_acceptance_prediction'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 13 (delta 3), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (13/13), 15.63 KiB | 7.82 MiB/s, done.
Resolving deltas: 100% (3/3), done.
/content/loan_acceptance_prediction/loan_acceptance_prediction/loan_acceptance_prediction/loan_acceptance_prediction

**Import necessary python modules**

We will need the following libraries:

* Numpy — for scientific computing (e.g., linear algebra (vectors & matrices)).
* Pandas — providing high-performance, easy-to-use data reading, manipulation, and analysis.
* Matplotlib — plotting & visualization.
* scikit-learn — a tool for data mining and machine learning models.

In [80]:
# importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## **Datasets Preparation**

### Loading the Datasets

In [81]:
# Loading the Training and the Testing Datasets
train_df = pd.read_csv("train.csv")
test_df  = pd.read_csv("test.csv")

### Treating the Training Dataset

#### Understanding the Data

In [87]:
# Checking the datatypes of the Training Dataset
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loan_id            513 non-null    object
 1   gender             503 non-null    object
 2   married            510 non-null    object
 3   dependents         501 non-null    object
 4   education          513 non-null    object
 5   self_employed      486 non-null    object
 6   applicantincome    513 non-null    int64
 7   coapplicantincome  513 non-null    float64
 8   loanamount         495 non-null    float64
 9   loan_amount_term   499 non-null    float64
 10  credit_history     470 non-null    float64
 11  property_area      513 non-null    object
 12  loan_status        513 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.2+ KB

In [82]:
# Showing the first 5 samples
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [83]:
# Showing the last 5 samples
train_df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
508,LP002626,Male,Yes,0,Graduate,Yes,2479,3013.0,188.0,360.0,1.0,Urban,Y
509,LP002634,Female,No,1,Graduate,No,13262,0.0,40.0,360.0,1.0,Urban,Y
510,LP002637,Male,No,0,Not Graduate,No,3598,1287.0,100.0,360.0,1.0,Rural,N
511,LP002640,Male,Yes,1,Graduate,No,6065,2004.0,250.0,360.0,1.0,Semiurban,Y
512,LP002643,Male,Yes,2,Graduate,No,3283,2035.0,148.0,360.0,1.0,Urban,Y

In [116]:
categorical = list(train_df.dtypes[train_df.dtypes == 'object'].index)
print("Categorical Columns")
print(categorical)

print("")

numerical = list(train_df.dtypes[train_df.dtypes != 'object'].index)
print("Numerical Columns")
print(numerical)

Categorical Columns
['loan_id', 'gender', 'married', 'dependents', 'education', 'self_employed', 'property_area', 'loan_status']

Numerical Columns
['applicantincome', 'coapplicantincome', 'loanamount', 'loan_amount_term', 'credit_history']

In [134]:
# Lowering all the column values (Categorical only)
for col in categorical:
    train_df[col] = train_df[col].str.lower()

# Lowering all the coulmns names
train_df.columns = train_df.columns.str.lower()
train_df.head()

train_df.head()

,loan_id,gender,married,dependents,education,self_employed,applicantincome,coapplicantincome,loanamount,loan_amount_term,credit_history,property_area,loan_status
0,lp001002,male,no,0,graduate,no,5849,0.0,144.739394,360.0,1.0,urban,y
1,lp001003,male,yes,1,graduate,no,4583,1508.0,128.000000,360.0,1.0,rural,n
2,lp001005,male,yes,0,graduate,yes,3000,0.0,66.000000,360.0,1.0,urban,y
3,lp001006,male,yes,0,not graduate,no,2583,2358.0,120.000000,360.0,1.0,urban,y
4,lp001008,male,no,0,graduate,no,6000,0.0,141.000000,360.0,1.0,urban,y

In [92]:
# Shape of the data
print("Shape of the Training Dataset: ", train_df.shape)

Shape of the Training Dataset:  (513, 13)

In [117]:
# Information about the data and it's values

print ("Information about the Categorical columns")
for col in train_df[categorical].columns:
    print(col)
    print("The first 5 unique values", train_df[col].unique()[:5])
    print("The number of unique values", train_df[col].nunique())
    print("")
print("======")

print ("Information about the Numerical columns")
for col in train_df[numerical].columns:
    print(col)
    print("The first 5 unique values", train_df[col].unique()[:5])
    print("The number of unique values", train_df[col].nunique())
    print("")

Information about the Categorical columns
loan_id
The first 5 unique values ['lp001002' 'lp001003' 'lp001005' 'lp001006' 'lp001008']
The number of unique values 513

gender
The first 5 unique values ['male' 'female' nan]
The number of unique values 2

married
The first 5 unique values ['no' 'yes' nan]
The number of unique values 2

dependents
The first 5 unique values ['0' '1' '2' '3+' nan]
The number of unique values 4

education
The first 5 unique values ['graduate' 'not graduate']
The number of unique values 2

self_employed
The first 5 unique values ['no' 'yes' nan]
The number of unique values 2

property_area
The first 5 unique values ['urban' 'rural' 'semiurban']
The number of unique values 3

loan_status
The first 5 unique values ['y' 'n']
The number of unique values 2

======
Information about the Numerical columns
applicantincome
The first 5 unique values [5849 4583 3000 2583 6000]
The number of unique values 426

coapplicantincome
The first 5 unique values [   0. 1508. 2358. 4196. 1516.]
The number of unique values 244

loanamount
The first 5 unique values [ nan 128.  66. 120. 141.]
The number of unique values 183

loan_amount_term
The first 5 unique values [360. 120. 240.  nan 180.]
The number of unique values 10

credit_history
The first 5 unique values [ 1.  0. nan]
The number of unique values 2

#### The Missing Values

In [118]:
# Calculating the null values
print("Null Values per column", train_df.isnull().sum())

Null Values per column loan_id               0
gender               10
married               3
dependents           12
education             0
self_employed        27
applicantincome       0
coapplicantincome     0
loanamount           18
loan_amount_term     14
credit_history       43
property_area         0
loan_status           0
dtype: int64

**For handelling the mising values:**

The categorical data will be filled by the `mode`:  gender, married, dependents, self_employed

and the numerical data will be filled with the `mean`:  loanamount, loan_amount_term, credit_history

In [124]:
# Categorical Data: Calculating the mode
gender_mode = train_df['gender'].mode()[0]
married_mode = train_df['married'].mode()[0]
dependents_mode = train_df['dependents'].mode()[0]
self_employed_mode = train_df['self_employed'].mode()[0]

print("Gender Mode: ", gender_mode)
print("Married Mode: ", married_mode)
print("Dependents Mode: ", dependents_mode)
print("Self_Employed Mode: ", self_employed_mode)

Gender Mode:  male
Married Mode:  yes
Dependents Mode:  0
Self_Employed Mode:  no

In [128]:
# Filling the missing values with the mode
train_df["gender"].fillna(gender_mode, inplace=True)
train_df["married"].fillna(married_mode, inplace=True)
train_df["dependents"].fillna(dependents_mode, inplace=True)
train_df["self_employed"].fillna(self_employed_mode, inplace=True)

# Recheching for the null values
print("Null Values per column", train_df[categorical].isnull().sum())

Null Values per column loan_id          0
gender           0
married          0
dependents       0
education        0
self_employed    0
property_area    0
loan_status      0
dtype: int64

In [130]:
# Numerical Data: Calculating the mean
loanamount_mean = train_df['loanamount'].mean()
loan_amount_term_mean = train_df['loan_amount_term'].mean()
credit_history_mean = train_df['credit_history'].mean()

print("LoanAmount Mean: ", loanamount_mean)
print("Loan_Amount_Term Mean: ", loan_amount_term_mean)
print("Credit_History Mean: ", credit_history_mean)

LoanAmount Mean:  144.73939393939395
Loan_Amount_Term Mean:  343.1182364729459
Credit_History Mean:  0.8468085106382979

In [131]:
# Filling the missing values with the mean
train_df["loanamount"].fillna(loanamount_mean, inplace=True)
train_df["loan_amount_term"].fillna(loan_amount_term_mean, inplace=True)
train_df["credit_history"].fillna(credit_history_mean, inplace=True)

# Recheching for the null values
print("Null Values per column", train_df[numerical].isnull().sum())

Null Values per column applicantincome      0
coapplicantincome    0
loanamount           0
loan_amount_term     0
credit_history       0
dtype: int64

/tmp/ipython-input-2436083593.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["loanamount"].fillna(loanamount_mean, inplace=True)
/tmp/ipython-input-2436083593.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["loan_amount_term"].fillna(loan_amount_term_mean, inplace=True)
/tmp/ipython-input-2436083593.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["credit_history"].fillna(credit_history_mean, inplace=True)

In [132]:
# Now Rechecking the whole dataset
print("Null Values per column", train_df.isnull().sum())

Null Values per column loan_id              0
gender               0
married              0
dependents           0
education            0
self_employed        0
applicantincome      0
coapplicantincome    0
loanamount           0
loan_amount_term     0
credit_history       0
property_area        0
loan_status          0
dtype: int64

**Perfect! All the null values are cleared!!!!! YAAAAAAY**

Lol, I celebrate this milestone.

### Treating the Testing Dataset

In [9]:
test_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP002648,Male,Yes,0,Graduate,No,2130,6666,70.0,180,1.0,Semiurban,N
1,LP002652,Male,No,0,Graduate,No,5815,3666,311.0,360,1.0,Rural,N
2,LP002659,Male,Yes,3+,Graduate,No,3466,3428,150.0,360,1.0,Rural,Y
3,LP002670,Female,Yes,2,Graduate,No,2031,1632,113.0,480,1.0,Semiurban,Y
4,LP002682,Male,Yes,NaN,Not Graduate,No,3074,1800,123.0,360,0.0,Semiurban,N