<a href="https://colab.research.google.com/github/allaalmouiz/loan_acceptance_prediction/blob/main/Loan_Acceptance_Prediction_Challange_AlaaAlmouiz(S2026_176).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loan Acceptance Prediction Challange - Module 1
Submitted by: **Alaa Almouiz F. Moh.**

ID Number: **S2026_176**

Track: **Machine Learning**

For: **ZAKA ©**

## **Problem Statement (Objective)**
In a bank, if someone applies for a loan! How likely he/she is getting the loan based on their profile (features).

In this colab, I will take you through the Data Science Lifecycle, till I build a simple machine learning model that predicts whether a person’s loan will be accepted or rejected based on his/her feature.

## **Dataset**
Loan Dataset (Download here: [Training Data](https://drive.google.com/file/d/1kOZgprQhpJ0EQkCU-WBhE5Y8toW8bHnk/view), [Testing Data](https://drive.google.com/file/d/1r4AyrYG2D-0DFt0fpOW-QCK6K9YrL6EP/view)).
The dataset variables include:

* `Loan_ID` data set unique ID
* `Gender` individual gender
* `Married` individual marital status
* `Dependents` number of dependents
* `Education` individual education status
* `Self_Employed` individual employment status
* `ApplicantIncome` individual income
* `CoapplicantIncome` individual Co Applicant income
* `LoanAmount` Loan amount in thousands
* `Loan_Amount_Term` term of loan in months
* `Credit_History` credit history meets guidelines
* `Property_Area` Urban/ Semi Urban/ Rural
* `Loan_Status` loan approved (Y/N) - TARGET

## **Assumptions and Hypothesis**
1. First
2. Second

## **Datasets Loading**

In [1]:
# Cloning the datasets from the github
!git clone https://github.com/allaalmouiz/loan_acceptance_prediction.git

%cd loan_acceptance_prediction

Cloning into 'loan_acceptance_prediction'...
remote: Enumerating objects: 10, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 10 (delta 1), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (10/10), 11.15 KiB | 1.86 MiB/s, done.
Resolving deltas: 100% (1/1), done.
/content/loan_acceptance_prediction

**Import necessary python modules**

We will need the following libraries:

* Numpy — for scientific computing (e.g., linear algebra (vectors & matrices)).
* Pandas — providing high-performance, easy-to-use data reading, manipulation, and analysis.
* Matplotlib — plotting & visualization.
* scikit-learn — a tool for data mining and machine learning models.

In [2]:
# importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## **Datasets Preparation**

In [4]:
# Loading the Training and the Testing Datasets
train_df = pd.read_csv("train.csv")
test_df  = pd.read_csv("test.csv")

### Treating the Training Dataset

In [8]:
# Showing the first 5 Datasets
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

### Treating the Testing Dataset

In [9]:
test_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP002648,Male,Yes,0,Graduate,No,2130,6666,70.0,180,1.0,Semiurban,N
1,LP002652,Male,No,0,Graduate,No,5815,3666,311.0,360,1.0,Rural,N
2,LP002659,Male,Yes,3+,Graduate,No,3466,3428,150.0,360,1.0,Rural,Y
3,LP002670,Female,Yes,2,Graduate,No,2031,1632,113.0,480,1.0,Semiurban,Y
4,LP002682,Male,Yes,NaN,Not Graduate,No,3074,1800,123.0,360,0.0,Semiurban,N